html{
    font-size: 1vmin;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #212121;
    height: 100vh;
    width: 100vw;
    font-family: Calibri;
}

button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondaryDisplayContainer{
    margin-bottom: 10vh;
    display:inline-block;
    width:100%;
    height:20%;
}
.secondaryDisplay{
    background-color: #f2ff96;
    height: 85%;
    width: 50%;
    margin: 1% auto;
    border: 2px solid black;
    font-size: 2.5rem;
    border-radius: 5vh;
    text-align: center;
}

.primaryDisplayContainer{
    background-color: #424242;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    border: solid 1px black;
    vertical-align: bottom;
}
.primaryButtonContainer{
    background-color: #6c7fe8;
    width: 75vh;
    height: 59vh;
    margin: 3vh;
    border: 1px solid black;
    position: absolute;
    left: 28%;
    text-align:center;
    
}

.primaryDisplayContainer > button {
    height: 10vh;
    width: 10vh;
    background-color: #858585;
    display: flex;
    flex-direction: column;
    margin: 5vh 2vh 5vh 2vh;
}

.primaryDisplay1 p{
    font-size: 
}

.keypadContainer{
    background-color: #424242;
    display: inline-block;
    height: 44%;
    width: 20%;
    border: 2px solid black;
    vertical-align: bottom;
    font-size: 2vmin;
}

.pumpButtonsContainer{
    display: inline-block;
    width: 30%;
    height: 40%;
    align-content: center;
    
}
#pumpGasButton, #liftReplaceButton{
    border: solid 1px black;
}

.gasButtonsContainer{
    display: inline-flex;
    justify-content: space-around;
    width: 65%;
    height: 20%;
    border: solid 1px black;
}

.pricePerGallon{
    font-size: 3vw;
    margin-bottom: 50%;
    border:solid 1px black;
    border-radius:70%;
}

.gasTierButton{
    background-color: #4CAF50;
    height: 70%;
    width: 50%;
    vertical-align: top;
}

#regular87, #super89, #premium91{
    width: 26%;
    height: 90%;
    display: inline-block;
    bottom: 0;
    margin: 0% 2%;
}

.gasContainer{
    background-color: #424242;
    display: inline-flex;
    flex-direction: column;
    width: 50vh;
    height: 70%;
}

.pumpButtonsContainer{
    display: inline-block;
    width: 100%;
    height: 80%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 15px 8px;
    box-sizing: border-box;
}

.gasButtonsContainer button{
    padding: 20px;
    width: 50%;
    height: 90%;
    margin: 5px;
}

.gasScreen {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.gasSelection {
    display: inline-block;
    width: 30%;
    height: 100%;
    border: solid 1px black;
    vertical-align:top;
}

.gasType{
    display: inline-block;
    width: 99%;
    height: 20%;
    border: ridge 5px black;
    text-align: center;
    font-size: 15px;
    margin-top:100px;
}

.gasPrice{
    text-align:center;
    font-size: 24px;
}

.credit-card-button {
    display: inline-block;
    height: 20%;
    width: 20%;
    border: 2px solid black;
}

.keypad {
    background-color: whitesmoke;
    margin: 6vh auto;
    height: 70%;
    width: 80%;
    border: 2px solid black;
}

.gallons, .sales {
    margin: 1vh auto 1.5vh auto;
    height: 40%;
    width: 70%;
}

.hidden{
    display: none;
    transition: all 2s;
}

.noTouch {
    pointer-events: none;
}

.row{
    height: 20%;
    width: 100%;
}

.row > button {
    width: 32%;
    height: 81%;
    border-radius: 10%;
    background-color: rgb(189, 189, 189);
    font-size: 20px;
}

.row button:focus {
    outline:0;
}

.keypadDisplay {
    width: 100%;
    height: 56px;
    border: solid 1px black;
    box-sizing: border-box;
    text-align: center;
    font-size: 8vmin;
    overflow: hidden;
    line-height: 56px;
}

.row > button.clearButton {
    background-color: rgb(64, 167, 64);
}

.row > button.enterButton {
    background-color: red;
}

.primaryDisplay4{
    display: inline-block;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: top;
    margin: 10% 1%;
    text-align: center;
}

.primaryDisplay4 h1{
  padding: 40% 0;
}

.secondaryDisplayContainer{
    display:block;
    width:350px;
    height:100px;
    border:solid 1px black;
    margin:auto;
}
  
.receipt{
    height: 300px;
    width: 250px;
    border: 1px solid black;
    margin: 5% auto;
}

.receiptTitle, .receiptThanks{
    text-align: center;
}

.fuel-type, .rate, .total-cost{
    margin-left: 10px;
}

.primaryButtonText{
    position: absolute;
    bottom: 5%;
    left: 2%;
}

.screenContainer > h1{
    text-align: center;
    margin-top: 18%;
}

.secondaryDisplayContainer span{
    margin-left: 15px;
}

.display{
    width:100%;
    height:100%;
    font-size:16px;
}

